<div class="panel-body">
  <div class="ibox float-e-margins">
    <div class="">
        <h3><%= t('.header')%></h3>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <%= form_tag create_drafts_company_invoices_path(@company) do %>
                    <table class="footable table table-stripped toggle-arrow-tiny" data-page-size="8" data-filter=#filter>
                        <thead>
                        <tr>
                            <th data-toggle="true"><%= t('.table_head_name')%></th>
                            <th><%= t('.table_head_email')%></th>
                            <th><%= t('.table_head_id')%></th>
                            <th><%= t('.table_head_balance')%></th>
                            <th><%= t('.table_head_action')%></th>
                        </tr>
                        </thead>
                        <tbody>
                        <% @users.each do |user| %>
                          <tr>
                              <td><%= user.full_name %></td>
                              <td><%= user.email %></td>
                              <td><%= user.id %></td>
                              <td><%= number_to_currency(@outstanding_balances[user.id].to_f) %></td>
                              <td><%= check_box_tag 'user_ids[]', user.id%></td>
                          </tr>
                        <% end %>
                        </tbody>
                        <tfoot>
                        <tr>
                            <td colspan="5">
                                <ul class="pagination pull-right"></ul>
                            </td>
                        </tr>
                        </tfoot>
                    </table>
                    <div class="col-md-2">
                      <div class="input-group date" data-provide="datepicker">
                        <input type="text" name="start_date" class="form-control datepicker" data-date-format="dd/mm/yyyy" value="<%= (Date.today - 30.days).strftime("%d/%m/%Y") %>" required>
                        <div class="input-group-addon">
                          <span class="fa fa-calendar"></span>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-2">
                      <div class="input-group date" data-provide="datepicker">
                        <input type="text" name="end_date" class="form-control datepicker" data-date-format="dd/mm/yyyy" value="<%= Date.today.strftime("%d/%m/%Y") %>" required>
                        <div class="input-group-addon">
                          <span class="fa fa-calendar"></span>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-2">
                        <%= submit_tag t('.submit_button'), class: "form-control btn-default" %>
                    </div>

                    <% end %>
                </div>
            </div>
        </div>
    </div>
  </div>
</div>
