<div id='new-user'>
  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <label class=""><%= t('.first_name')%></label>
        <input type="text" class="form-control" placeholder="<%= t('.first_name')%>"  name="user[first_name]" disabled required/>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <label class="control-label"><%= t('.last_name')%></label>
        <input type="text" class="form-control" placeholder="<%= t('.last_name')%>"  name="user[last_name]" disabled required/>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <label class="control-label"><%= t('.email')%></label>
        <input type="text" class="form-control" placeholder="<%= t('.email')%>"  name="user[email]" disabled required/>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <label class="control-label"><%= t('.phone_number')%></label>
        <input type="text" class="form-control"  placeholder='<%= t('.phone_number') %>' name="user[phone_number]" disabled  />
      </div>
    </div>
  </div>
</div>
