<div class="modal modal_light fade modal_center modal_oops" id="oops-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal__container">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="modal__close"></i></span></button>
            <div class="modal__header modal__header_withicon">
                <div class="icon-oops"></div>
                <div class="modal__title modal__title_danger"><%= t('.title')%></div>
            </div>
            <div class="modal__content">
                <p class="modal__text"><%= t('.modal_text')%></p>
                <div class="btn-choose btn-choose_horizontal btn-choose_dark">
                    <button class="btn btn-success" data-toggle="modal" data-dismiss="modal" data-target="#signup-modal"><%= t('.signup')%></button><div class="btn-choose__or"><%= t('support.or')%></div><a href="#" data-dismiss="modal" data-toggle="modal" data-target="#login-modal"><button class="btn btn-primary"><%= t('.login')%></button></a>
                </div>
            </div>
        </div>
    </div>
</div>
