<div class="modal modal_dark fade modal_center" id="signup-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal__container">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="modal__close"></i></span></button>
            <div class="modal__header modal__header_signup">
                <div class="modal__logo"></div>
            </div>
            <div class="modal__content">
                <%= form_for(resource, as: resource_name, url: registration_path(resource_name), :html => { :id => "signup-form" }) do |f| %>
                    <fieldset class="form-group">
                        <div class="row">
                            <div class="com-xs-12 col-sm-8"><%= f.text_field :first_name, :class => 'form-control', :placeholder => true, autofocus: true %></div>
                            <div class="com-xs-12 col-sm-8"><%= f.text_field :last_name, :class => 'form-control', :placeholder => true, autofocus: true %></div>
                        </div>
                    </fieldset>
                    <fieldset class="form-group">
                        <%= f.email_field :email, autofocus: true, :class => "form-control", :placeholder => true %>
                    </fieldset>
                    <fieldset class="form-group">
                        <%= f.password_field :password, :class => 'form-control', :placeholder => true,  autocomplete: "off" %>
                    </fieldset>
                    <fieldset class="form-group">
                        <%= f.password_field :password_confirmation, autocomplete: "off", :class => "form-control", :placeholder => true %>
                    </fieldset>
                    <fieldset class="form-group form-group_btns">
                        <div class="btn-choose btn-choose_horizontal btn-choose_dark">
                            <div class="btn-choose btn-choose_horizontal btn-choose_dark">
                            <%= link_to user_omniauth_authorize_path(:facebook), class: "btn btn-primary-outline btn_lg js-save-selected-bookings" do %><span class="icon-fb_white"></span>&nbsp;<%= t('.sign_up_fb') %><% end %><div class="btn-choose__or"><%= t('.or') %></div><button class="btn btn-primary btn_sm js-save-selected-bookings"><%= t('.sign_up') %></button>
                            </div>
                        </div>
                    </fieldset>
                <% end %>
                <p class="modal__small"><%= t('.terms_accept_html', link: 'http://www.ampersports.com/toc.html')%></p>
            </div>
        </div>
    </div>
</div>
