<div class="panel-body">
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox float-e-margins">
        <div class="ibox-content">
          <%= form_tag import_memberships_path, remote: true do %>
            <%= hidden_field_tag :venue_id, @venue.id %>
            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <%= label_tag :csv_file, t('.csv_file'), class: 'control-label' %>
                  <input type="file" class="form-control" name="csv_file" class="file">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                <%= check_box_tag :ignore_conflicts, "1", false %>
                <%= label_tag :ignore_conflicts, t('.ignore_conflicts'), class: 'control-label' %>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                <br>
                <%= button_tag type: 'submit', class:"btn", data: { disable_with: t('.importing') } do %>
                  <%= t('.upload_button') %>
                <% end %>
              </div>
            </div>
          <% end %>

          <hr/>
          <div class="row">
            <div class="col-lg-12" id='csv-import-report'>
            </div>
          </div>

          <hr/>
          <%= link_to t('.download_csv_template'), csv_template_memberships_path %>
        </div>
      </div>
    </div>
  </div>
</div>
