<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <h2><%= t('.header', name: @venue.venue_name) %></h2>
    <ol class="breadcrumb">
      <li>
        <a href="#"><%= current_admin.company.company_legal_name %></a>
      </li>
      <li>
        <a><%= @venue.venue_name %></a>
      </li>
      <li class="active">
        <strong><%= t('.courts_prices')%></strong>
      </li>
    </ol>
  </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
    <div class="col-lg-12 white-bg">
      <div class="ibox float-e-margins">
        <div class="ibox-content p-md">
          <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#venue-tab"><i class="fa fa-info"></i><%= t('.venue_info')%></a></li>
            <li><a data-toggle="tab" href="#venue-colors"><i class="fa fa-paint-brush"></i><%= t('.custom_colors')%></a></li>
            <li class=""><a data-toggle="modal" data-target="#manage-photos"><i class="fa fa-plus"></i><%= t('.manage_photos')%></a></li>
          </ul>
          <div class='tab-content'>
            <div id='venue-tab' class='tab-pane active'>
              <%= form_for @venue, :html => { remote: true, id: 'edit-venue'} do |v| %>
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <label><%= t('.list_venue')%></label>
                      <div class='onoffswitch'>
                        <input class="onoffswitch-checkbox" id="listed" type="checkbox" <%= "checked=''" unless not @venue.listed? %> data-url="<%= venue_change_listed_path(@venue)%>" >
                        <label class="onoffswitch-label" for="listed">
                          <span class="onoffswitch-inner"></span>
                          <span class="onoffswitch-switch"></span>
                        </label>
                      </div>
                    </div>
                  </div>
                </div>
                <%= render partial: 'form', locals: {v: v} %>

                <div class="row">
                  <br>
                  <div class="actions col-md-4">
                    <button class="btn btn-primary ladda-button" data-style="expand-right" type="submit">
                      <%= t('.save_button')%>
                    </button>
                    <%= link_to venue_path(@venue), method: :delete, class: 'remote-del-btn court' do  %>
                      <button type="button" class="btn btn-danger ">
                        <i class="fa fa-trash"></i> <%= t('.delete_button')%>
                      </button>
                    <% end %>
                  </div>
                </div>
              <% end %>
            </div>

            <div id='venue-colors' class='tab-pane colors'>
              <%= form_for @venue, :html => { remote: true, id: 'edit-venue-colors'} do |v| %>
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <label><%= t('.custom_colors_info') %></label>
                      <% @venue.custom_colors.each do |type, color| %>
                        <hr>
                        <div class='row'>
                          <div class="col-md-3">
                            <label><%= t(".custom_colors_names.#{type}") %></label>
                          </div>
                          <div class="col-md-2">
                            <div style='background-color: <%= color %>; height: 20px;'
                                 class="venue-color-example-<%= type %>">
                              <%= t('.no_color') unless color.present? %>
                            </div>
                          </div>
                          <div class="col-md-1">
                            <input name='venue[custom_colors][<%= type %>]'
                                   class="venue-color-selector" type="color"
                                   data-type='<%= type %>'
                                   value='<%= color %>' >
                          </div>
                          <div class="col-md-1">
                            <div class="venue-color-clear btn btn-default" data-type='<%= type %>'
                                 data-color='<%= Venue::DEFAULT_COLORS[type] %>'>
                              <i class="fa fa-eraser"></i>
                            </div>
                          </div>
                        </div>
                      <% end %>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <br>
                  <div class="actions col-md-4">
                    <button class="btn btn-primary ladda-button" data-style="expand-right" type="submit">
                      <%= t('.save_button')%>
                    </button>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
          <br> <br><br>
        </div>
      </div>
    </div>
  </div>
</div>

<%= render partial: 'photos/photos', locals: {venue: @venue} %>
