<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2><%= t('.header')%></h2>
        <ol class="breadcrumb">
            <li>
                <a href="#"><%= @venue.company.company_legal_name %></a>
            </li>
            <li>
                <a><%= @venue.venue_name %></a>
            </li>
            <li class="active">
                <strong><%= t('.header')%></strong>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content  animated fadeInRight">
  <div class="row m-t-lg">
    <div class="col-lg-12">
      <div class="tabs-container">
        <ul class="nav nav-tabs">
          <li class="active"><a data-toggle="tab" href="#tab-1"><%= t('.sales_report') %></a></li>
        </ul>
        <div class="tab-content">
          <div id="tab-1" class="tab-pane active">
            <div class="panel-body">
              <div class="row">
                <div class="col-lg-12">
                  <div class="ibox float-e-margins">
                    <div class="ibox-content">
                      <%= form_tag booking_sales_report_venue_path(@venue) do %>
                        <div class="row">
                          <div class="col-md-4">
                          <h3><%= t('.from') %>:</h3>
                            <div class="input-group date" data-provide="datepicker">
                                <input type="text" class="form-control" name="report[from]" class="datepicker" data-date-format="dd/mm/yyyy" value="<%= Time.now.strftime("%d/%m/%Y") %>">
                                <div class="input-group-addon">
                                    <span class="fa fa-calendar"></span>
                                </div>
                            </div>
                          </div>
                          <div class="col-md-4">
                          <h3><%= t('.to') %>:</h3>
                            <div class="input-group date" data-provide="datepicker">
                                <input type="text" class="form-control" name="report[to]" class="datepicker" data-date-format="dd/mm/yyyy" value="<%= Time.now.strftime("%d/%m/%Y") %>">
                                <div class="input-group-addon">
                                    <span class="fa fa-calendar"></span>
                                </div>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-4">
                            <br>
                            <%= button_tag type: 'submit', class:"btn" do %>
                              <i class='fa fa-file-excel-o m-r-xs'></i> <%= t('.download_btn') %>
                            <% end %>
                          </div>
                        </div>
                      <% end %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
