<%= form_tag venue_reservation_path(@venue, @resv), method: :put, remote: true, class: 'remote-form' do %>
  <%= render partial: 'form_info', locals: { edit_mode_text: t('.submit_button') } %>
  <hr/>

  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <label class="control-label"><%= t('.price_label')%></label>
        <label class="pull-right"><input id="price-auto" type="checkbox"> <%= t('.get_automatically') %></label>
        <div class="input-group">
          <input type="text" id="reservationPrice" class="form-control" placeholder="<%= t('.price_placeholder')%>" name="reservation[price]" value='<%= number_with_precision(@resv.price, precision: 2) %>' data-price='<%= number_with_precision(@resv.price, precision: 2) %>' required>
          <span class="input-group-addon">
            <i class="fa fa-eur" id="priceIcon"></i>
          </span>
        </div>
      </div>
    </div>
  </div>

  <div class="row hidden">
    <div class="col-md-12">
      <div class="form-group">
        <label ><%= t('.court_label')%></label>
        <select name="reservation[court_id]" id="courtTest" data-id="<%= @resv.court_id %>" class="select2_demo_2 form-control" style="width: 100%" required></select>
      </div>
    </div>
  </div>
  <div class="row hidden">
    <div class="col-md-12">
      <div class="form-group">
        <label for=""><%= t('.start_time_label') %></label><br>
        <div class="input-group clockpicker" data-autoclose="true">
          <input type="text" class="form-control" id="reservationStartTime" value="<%= TimeSanitizer.output(@resv.start_time) %>" data-date-format="dd/mm/yyyy" name="reservation[start_time]" required>
          <span class="input-group-addon">
            <span class="fa fa-clock-o"></span>
          </span>
        </div>
      </div>
    </div>
  </div>
  <div class="row hidden">
    <div class="col-md-12">
      <div class="form-group">
        <label for=""><%= t('.end_time_label') %></label><br>
        <div class="input-group clockpicker" data-autoclose="true">
          <input type="text" class="form-control" id="reservationEndTime" data-date-format="dd/mm/yyyy" value="<%= TimeSanitizer.output(@resv.end_time) %>" name="reservation[end_time]" required>
          <span class="input-group-addon">
            <span class="fa fa-clock-o"></span>
          </span>
        </div>
      </div>
    </div>
  </div>
  <div class="row hidden">
    <div class="col-md-12">
      <div class="form-group">
        <label for="searchDate"><%= t('.select_date_label')%></label>
        <div class="input-group date" data-provide="datepicker">
          <input type="text" class="form-control" id="reservationDate" data-date-format="dd/mm/yyyy" value="<%= TimeSanitizer.output(@resv.start_time) %>" name="reservation[date]" required>
          <div class="input-group-addon">
            <span class="fa fa-calendar"></span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <label for="reservationNote"><%= t('.note')%></label>
        <textarea type="text"
                  class="form-control"
                  id="reservationNote"
                  name="reservation[note]"
                  placeholder="<%= t('.note') %>"
                  cols='50'><%= @resv.note %></textarea>
      </div>
    </div>
  </div>
  <hr/>
  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <% if @resv.paid? %>
          <span class='label label-info'>
        <% elsif @resv.semi_paid? %>
          <span class='label label-warning'>
        <% elsif @resv.unpaid? %>
          <span class='label label-danger'>
        <% elsif @resv.membership? %>
          <span class='label label-success'>
        <% end %>
          <%= @resv.payment_type.humanize %>
        </span>
        <div>
          <% unless @resv.paid? %>
            <div class='form-group'>
              <label><%= t('.amount_paid_label')%></label>
              <input type='text' id='amount-paid' name='reservation[amount_paid]' class='form-control' value='<%= @resv.amount_paid || 0 %>' required='true' number='true'>
            </div>
            <label>
              <input type="checkbox" id="pay-resv" name="pay_reservation" onclick='paymentCheckbox(this);'>
              </input>
              <%= t('.mark_reservation')%>
            </label>

            <div class="row hidden" id='pay-with-game-pass'>
              <div class="col-md-12">
                <div class="form-group">
                  <label ><%= t('.use_game_pass')%></label>
                  <select name="pay_with_game_pass" id="pay-with-game-pass-select" class="select2_demo_2 form-control" style="width: 100%" data-userid='<%= @resv.user_id %>'><option></option></select>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <input  id='courtTest' type='hidden' value='<%= @resv.court.id %>' >
</input>
  <div class="actions text-center">
    <button class="btn reservationsSucces ladda-button btn-primary" type="submit" data-style="expand-right">
      <%= t('.submit_button')%>
    </button>
  </div>
<% end %>
