<%= form_for ([@venue, @court, @price]) do |f| %>


  <div class="field">
    <%= f.label :price %><br>
    <%= f.text_field :price %>
  </div>
  <div class="field">
    <%= f.label :start_time %><br>
    <%= f.time_select :start_time %>
  </div>
  <div class="field">
    <%= f.label :end_time %><br>
    <%= f.time_select :end_time %>
  </div>
  <div class="field">
    <%= f.label :day %><br>
    <%= f.text_field :day %>
  </div>
    <%= f.hidden_field :court_id, value: @court.id %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
