

<p><%= t('.header')%></p>

<p><%= t('.content')%></p>

<p><%= link_to t('.link_label'), edit_password_url(@resource, reset_password_token: @token) %></p>

<p><%= t('.instruction_line1')%></p>
<p><%= t('.instruction_line2')%></p>
