<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>mywebsite</title>

    <!-- Main css styles -->
    <%= stylesheet_link_tag 'frontend', media: 'all', 'data-turbolinks-track' => true %>

    <!-- Main javascript files -->
    <%= javascript_include_tag 'product', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>

    <%= favicon_link_tag 'favicon.ico' %>
    <script>
        $(document).ready(function () {
            Init.profile();
        });
    </script>

</head>
<body>
  <%= yield %>

</body>
</html>
